$color_BG: #fafafb;
$color_1: #f7941d;
$color_2: #4e5660;
$color_3: #ececec;
$color_4: #2d51a3;
$color_5: #52525b;
$color_6: #ffffff;
$color_7: #c0c0c0;
$color_8: #e4e4e7; // border
$color_9: #000000;
$color_10: #2563eb;
$color_11: #12203b17;
