@font-face {
  font-family: "Cairo-Black";
  src: url("../content/fonts/Cairo-Black.eot");
  src:
    url("../content/fonts/Cairo-Black.eot?#iefix") format("embedded-opentype"),
    url("../content/fonts/Cairo-Black.woff") format("woff"),
    url("../content/fonts/Cairo-Black.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Cairo-Bold";
  src: url("../content/fonts/Cairo-Bold.eot");
  src:
    url("../content/fonts/Cairo-Bold.eot?#iefix") format("embedded-opentype"),
    url("../content/fonts/Cairo-Bold.woff") format("woff"),
    url("../content/fonts/Cairo-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Cairo-Light";
  src: url("../content/fonts/Cairo-Light.eot");
  src:
    url("../content/fonts/Cairo-Light.eot?#iefix") format("embedded-opentype"),
    url("../content/fonts/Cairo-Light.woff") format("woff"),
    url("../content/fonts/Cairo-Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Cairo-Medium";
  src: url("../content/fonts/Cairo-Medium.eot");
  src:
    url("../content/fonts/Cairo-Medium.eot?#iefix") format("embedded-opentype"),
    url("../content/fonts/Cairo-Medium.woff") format("woff"),
    url("../content/fonts/Cairo-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Cairo-Regular";
  src: url("../content/fonts/Cairo-Regular.eot");
  src:
    url("../content/fonts/Cairo-Regular.eot?#iefix") format("embedded-opentype"),
    url("../content/fonts/Cairo-Regular.woff") format("woff"),
    url("../content/fonts/Cairo-Regular.ttf") format("truetype");
  font-style: normal;
}
