.popupView {
  background: #00000057;
  position: fixed;

  .container {
    background: #fff;
    border-radius: 16px;
    padding: 30px;
    width: 90%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    outline: 8px solid #fff;

    .popupHeader {
      color: #000;
      font: 15px / 16px 'Cairo-Bold';
      margin-bottom: 32px;
    }

    .popupFooter {
      display: flex;
      flex-direction: row;
      gap: 16px;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      .btnStyle,
      .BtnCancel {
        background-color: #2d51a3;
        color: #fff;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        cursor: pointer;
        border-radius: 6px;
        padding: 8px 40px 11px;
        user-select: none;
        font-family: "Cairo-Regular";
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 120px;

        @media screen and (max-width: 768px) {
          width: 100%;
          text-align: center;
        }

        &:hover {
          background-color: #f7941d;
          color: #fff;
          border-color: transparent;
        }

        &._saveAndAdd {
          background-color: #f7941d;
          color: #fff;
          border-color: transparent;
        }
      }

      .BtnCancel {
        background-color: #fff;
        color: #000;
        border: 1px solid #d9d9d9;
        min-width: 158px;
      }
    }
  }
}

.titlePageDashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 16px;
  }

  h2 {
    font: 21px / 24px 'Cairo-Regular';
    color: #000;
  }

  .BtnStyle {
    background-color: #f7941d;
    border: 1px solid #f7941d;
    color: #fff;
    width: 200px;
    font: 16px / 18px 'Cairo-Regular';
    border-radius: 8px;
    max-height: 48px;
    padding-bottom: 6px;
  }

}

.file-search {
  padding: 20px;
  background-color: #FAFAFB;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  margin: 0 !important;

  @media screen and (max-width: 768px) {
    gap: 20px;
  }
}

.divCardsRow {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 0;
  gap: 30px;

  @media screen and (max-width: 992px) {
    gap: 24px;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    // gap: 16px;
  }
}

.dashboard-card {
  width: 290px;
  background: #FAFAFB;
  border: 1px solid #D9D9D9;
  padding: 20px 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 24px;

  @media screen and (max-width: 992px) {
    width: calc(50% - 12px);
    margin-bottom: 0;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  >div {
    span {
      display: block;
      font: 14px/16px 'Cairo-Regular';
      color: #52525B;

      &.total {
        font-family: 'Cairo-Bold';
        color: #000;
        margin-top: 12px;
      }
    }
  }

  &::before {
    content: '';
    background: url("../content/images/total_file.svg") center / contain no-repeat;
    width: 45px;
    height: 45px;
    display: block;
    position: relative;
  }

  &._card_1 {
    background: #DEFFEA;
    border-color: #B0EAC5;

    >div {
      span {
        color: #496C56;
      }
    }

    &::before {
      background: url("../content/images/urgent_file.svg") center / contain no-repeat;
    }
  }

  &._card_2 {
    background: #FFF4E6;
    border-color: #D6C6B2;

    >div {
      span {
        color: #7B6C59;
      }
    }

    &::before {
      background: url("../content/images/collection_file.svg") center / contain no-repeat;
    }
  }

  &._card_3 {
    background: #FFECEC;
    border-color: #D9B7B7;

    >div {
      span {
        color: #7F5B5B;
      }
    }

    &::before {
      background: url("../content/images/law_cases_file.svg") center / contain no-repeat;
    }
  }
}

.chartstDiv {
  margin: 0 -12px 32px !important;

  @media screen and (max-width: 992px) {
    padding-top: 12px;
  }
}

.file-chart {
  border: 1px solid #F5F5F5;
  border-radius: 16px;
  padding: 30px;

  .chartHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    gap: 8px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    h4 {
      font: 14px / 16px 'Cairo-Regular';
      color: #000;
      margin: 0;
    }

    div {
      display: flex;
      flex-direction: row;
      gap: 16px;
      margin: 0;

      @media screen and (max-width: 360px) {
        flex-direction: column;
        gap: 8px
      }


      p {
        label {
          font: 12px / 14px 'Cairo-Regular';
          color: #000;
          margin: 0;
        }

        font: 14px / 16px 'Cairo-Bold';
        color: #000;
        margin: 0;
        display: flex;
        gap: 4px;
      }
    }
  }

  .largeAreaChart {
    width: 100%;
    height: 400px;
  }
}

.progressBar {
  display: flex;
  align-items: center;
  gap: 8px;

  &.completed {
    .p-progressbar {
      .p-progressbar-value {
        background: #1FB356;
        width: calc(100% - 2px) !important;
      }
    }
  }

  .p-progressbar {
    background: #eeeeee96;
    border-radius: 10px;
    flex: 1;
    height: 14px;
    width: 100px;
    border: 1px solid #d9d9d9a6;
    padding: 0.5px;
    align-items: center;

    .p-progressbar-value {
      background: #fb8c1d;
      border-radius: 8px;
      height: 10px;
      top: 1.29px;
      left: 1px;
    }
  }

  >span {
    font: 10px / 12px 'Cairo-Bold';
    color: #000;
  }
}

.p-paginator {
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  margin-top: 16px;
  width: fit-content;
  padding: 0;
  margin-left: auto;
  overflow: hidden;

  &.p-paginator-bottom {
    button {
      border-left: 1px solid #D9D9D9;
      color: #2563EB;
      background-color: #fff;

      &:focus {
        background-color: #2563EB;
        color: #ffffff;
      }
    }

    >span {
      border-left: 1px solid #D9D9D9 !important;
      border-right: 1px solid #D9D9D9 !important;

      >button {
        border-left: 1px solid #D9D9D9 !important;

        &:last-child {
          border-left: none;
        }
      }
    }
  }
}

.files-table {
  margin-bottom: 16px;

  @media (max-width: 992px) {
    .custom-table .p-datatable-wrapper {
      overflow-x: auto;
    }

    .custom-table {
      .p-datatable-table {
        min-width: 992px;
      }
    }
  }

  .titleTableHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    gap: 16px;

    &._defendantTableHeader {
      margin-top: 32px;

      >h4 {
        color: #000;
        font: 15px / 16px 'Cairo-Bold';
      }
    }

    &._allProfilesTabs {
      margin-top: 32px;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;

      .tableTabs {
        width: 100%;
        border-bottom: 1px solid #eee;
        padding-bottom: 16px;

        @media screen and (max-width:992px) {
          align-items: flex-start;
        }

        @media screen and (max-width:768px) {
          align-items: center;
        }

        >div {
          width: fit-content;

          @media screen and (max-width:768px) {
            width: 100%;
          }
        }
      }

      .totalFiles {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;

        p {
          margin: 0;
        }
      }
    }

    @media screen and (max-width: 360px) {
      flex-direction: column-reverse;
    }

    .tableTabs {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 40px;

      @media screen and (max-width: 992px) {
        flex-direction: column;
        gap: 20px;
      }

      >div {
        display: flex;
        gap: 4px;
        align-items: center;
        color: #52525B;
        font: 16px / 18px 'Cairo-Regular';
        cursor: pointer;
        user-select: none;
        white-space: nowrap;
        width: 100%;
        justify-content: center;

        span {
          color: #000;
          font: 16px / 18px 'Cairo-Bold';
        }

        &.active {
          border: 1px solid #D9D9D9;
          background-color: #FAFAFB;
          border-radius: 8px;
          padding: 13px 20px 16px;
          cursor: default;

          &,
          span {
            color: #2563EB;
          }
        }
      }
    }

    .totalFiles {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      text-align: center;

      @media screen and (max-width: 992px) {
        align-self: flex-end;
      }

      @media screen and (max-width: 360px) {
        align-self: center;
      }

      &,
      span {
        font: 14px / 16px 'Cairo-Bold';
        color: #000;
      }

      &._link {
        color: blue;
        display: inline-flex;
        border-bottom: 1.5px solid blue;
        cursor: pointer;
        user-select: none;

        span {
          color: blue;
        }
      }
    }
  }

  .table-container {
    width: 100%;

    .p-datatable {
      overflow: visible !important;

      .p-datatable-header {
        background-color: #003366;
        color: #ffffff;
        font-weight: bold;
      }

      .p-datatable-thead {
        >tr>th:first-child {
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }

        >tr>th:last-child {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }

        >tr>th {
          background: #2d51a3;
          color: #fff;
          text-align: left;
          padding: 14px 12px;
          font-size: 11px;
          font-weight: 400;
          white-space: nowrap;

          @media screen and (max-width: 768px) {
            min-width: 150px;
          }
        }
      }

      .p-datatable-tbody {
        >tr {
          border-bottom: 1px solid #ddd;

          &:nth-child(even) {
            background-color: #fafafa;
          }

          &:nth-child(odd) {
            background-color: #fff;
          }

          >td {
            padding: 10px;
            text-align: left;
            font-size: 11px;
            color: #52525B;

            &:first-child {
              min-width: 77px;
            }

            &.legalDocs-col {
              width: 300px;

              @media screen and (max-width: 1200px) {
                width: 200px;
              }
            }

            &.dataStatus-col {
              min-width: 197px;

              &._defendant-dataStatus-col {
                min-width: 200px;
                width: 246px;
              }

              @media screen and (max-width: 1200px) {
                min-width: 185px;
              }
            }

            &.actionList-col {
              &._defendant-actionList-col {
                max-width: 40px;

              }
            }

            .action-column {
              position: relative;
              text-align: center;
              padding: 0 8px;
              cursor: pointer;
            }

            .dots-menu {
              cursor: pointer;
              font-size: 20px;
              display: inline-block;
              width: 22px;
              height: 22px;
              pointer-events: none;
              background: url("../content/images/threeDotsMenu.svg") center / contain no-repeat;
              left: 16px;
              top: 16px;
            }

            .actionList {
              position: absolute;
              top: 25px;
              right: 0;
              background: #fff;
              border: 1px solid #ddd;
              border-radius: 8px;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
              display: flex;
              flex-direction: column;
              z-index: 100;
              overflow: hidden;
              display: none;
              white-space: nowrap;
              width: 180px;
              text-align: left;

              span {
                border-bottom: 1px solid #ddd;
                cursor: pointer;
                color: #000;
                font: 12px / 14px "Cairo-Regular";
                padding: 12px;

                &:hover {
                  background: #f0f0f0;
                }
              }

              span:last-child {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}

.fileInfoHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  background-color: #fff;
  margin-top: 32px;
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  >div {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
    border-right: 1px solid #ececec;
    padding: 0 24px 8px;
    color: #52525B;
    font: 14px / 16px 'Cairo-Regular';

    @media screen and (max-width: 768px) {
      padding: 0 !important;
      border: none !important;
    }

    >span {
      color: #000;
      font: 14px / 16px 'Cairo-Bold';
    }

    &:first-child {
      padding: 0;
      color: #000;
      font: 12px / 14px "Cairo-Regular";
      gap: 12px;

      span {
        color: #fff;
        background-color: #F7941D;
        border-radius: 6px;
        font: 12px / 18px "Cairo-Regular";
        padding: 4px 20px;
        width: 103px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &:last-child {
      padding-right: 0;
      border-right: none;
      gap: 8px;

      >span {
        color: #000;
        font: 11px / 15px "Cairo-Bold";
        display: flex;

        a {
          font: 12px / 14px 'Cairo-Bold';
          color: #2563EB;
          margin: 0 4px;
          text-decoration: underline;
        }
      }
    }
  }
}

.main-file-data {

  .tabs {
    display: flex;
    gap: 8px;
    flex-direction: row;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      width: 100%;
    }

    >div {
      padding: 10px 16px;
      border: 1px solid #e0e0e0;
      background: #fff;
      color: #2d51a3;
      font: 12px / 14px "Cairo-Bold";
      border-radius: 8px;
      cursor: pointer;
      user-select: none;
      transition: background 0.2s, color 0.2s;

      @media screen and (max-width: 768px) {
        width: 100%;
        text-align: center;
      }

      &.active {
        background: #2563eb;
        color: #fff;
        border: 1px solid #2563eb;
      }
    }
  }

  .mainFileHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin: 32px 0;

    @media screen and (max-width: 368px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }

    &._mainDefendantHeader {
      @media screen and (max-width: 768px) {
        flex-direction: column-reverse !important;
        text-align: center;
      }

      ~.main-file-data {
        .mainFileHeader {
          display: none;
        }
      }
    }

    .headerTitle {
      color: #000;
      font: 15px / 16px 'Cairo-Bold';
    }

    .menu {
      border-radius: 8px;
      border: 1px solid #e0e0e0;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
      background: #fff;
      padding: 8px 10px;
      display: flex;
      align-items: center;
      font: 11px / 12px 'Cairo-Regular';
      cursor: pointer;
      gap: 16px;
      flex-direction: row-reverse;
      user-select: none;
      position: relative;

      &::before {
        content: "";
        font-size: 20px;
        display: inline-block;
        width: 22px;
        height: 22px;
        pointer-events: none;
        background: url("../content/images/3-dots-menu-h.svg") center / contain no-repeat;
      }

      .serviceActionList {
        position: absolute;
        top: 40px;
        right: 0;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        display: none;
        flex-direction: column;
        z-index: 100;
        overflow: hidden;
        white-space: nowrap;
        width: 180px;
        text-align: left;

        @media screen and (max-width: 368px) {
          left: 0;
        }

        span {
          border-bottom: 1px solid #ddd;
          cursor: pointer;
          color: #000;
          font: 12px / 14px "Cairo-Regular";
          padding: 12px;

          &:hover {
            background: #f0f0f0;
          }
        }

        span:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .mainFileContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px 32px;


    p {
      display: flex;
      flex: 1 1 45%;
      flex-direction: column;
      gap: 8px;
      padding-bottom: 16px;
      border-bottom: 1px solid #D9D9D9;
      font: 14px / 16px 'Cairo-Bold';
      color: #000;

      label {
        color: #52525B;
        font-family: 'Cairo-Regular';
      }
    }


    @media screen and (max-width: 768px) {
      flex-direction: column;

      p {
        width: 100%
      }
    }
  }

  .fileInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: #FAFAFB;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    margin-bottom: 32px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    >div:nth-child(2) {
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;

      @media screen and (max-width: 768px) {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-left: none;
        border-right: none;
        margin-top: 32px;
      }
    }

    >div:first-child {
      padding: 0 8px;
    }

    >div {
      display: flex;
      flex-direction: column;
      padding: 0 32px;
      color: #52525B;
      flex: 1;
      font: 14px / 16px 'Cairo-Regular';

      @media screen and (max-width: 768px) {
        padding: 32px 0;
        width: 100%;
      }

      span {
        color: #000;
        margin-top: 16px;
        font: 14px / 16px 'Cairo-Bold';

        &.closed {
          color: #ED0000;
        }

        &.active {
          color: #1fb356;
        }
      }
    }
  }

  ._fileTypeInfoDiv {
    margin-top: 32px;
    background-color: #FAFAFB;
    border: 1px solid #D9D9D9;
    padding: 23px 18px 0;
    border-radius: 8px;

    h4 {
      font: 16px / 18px 'Cairo-Bold';
      color: #000;
      margin-bottom: 16px;
      width: 100%;
    }

    p:nth-last-child(1),
    p:nth-last-child(2) {
      border: none;
    }

    p:nth-last-child(2) {
      @media screen and (max-width: 768px) {
        border-bottom: 1px solid #ccc;
      }
    }

    &._requestData {
      div {
        width: 100%;

        p {
          width: calc(50% - 16px);
          border-bottom: 1px solid #D9D9D9;

          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }
      }
    }
  }
}

.defendant-data {
  >h4 {
    color: #000;
    font: 15px / 16px 'Cairo-Bold';
    margin: 32px 0;
  }
}

.searchByProfile {
  .popupView {
    .container {
      overflow: auto;

      .header {
        padding: 0;
        color: #000;
        font: 12px / 14px "Cairo-Regular";
        gap: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 32px;

        span {
          color: #fff;
          background-color: #F7941D;
          border-radius: 6px;
          font: 12px / 18px "Cairo-Regular";
          padding: 4px 20px;
          width: 103px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .content {
        .radioButtonDiv {
          margin-bottom: 32px;

          .p-radiobutton {
            label {
              color: #212529;
              font: 14px / 16px 'Cairo-Regular';
            }
          }
        }

        .formDiv {
          margin-bottom: 32px;

          input {
            border-radius: 8px;
          }

          .phoneNumber {
            margin-top: -4px;

            >div {
              align-items: flex-start;
            }
          }
        }

        .uploaderContainer {
          margin-bottom: 32px;

          h4 {
            color: #000;
            font: 14px / 16px 'Cairo-Bold';
          }
        }
      }
    }
  }
}



// Eachawy
.GCDropDownComponent {
  .p-dropdown {
    background: #fff;
  }
}

@import "./sdc_ar.scss";