// @import "./scss/reset.scss";
@import "./scss/mixins/mixins.scss";
@import "./scss/variables/bgAndColor.scss";
@import "./scss/fonts.scss";

body {
  background: $color_BG;
  margin: 0;
}

body,
* {
  @include scrollbars(5px, $color_2, $color_3);
  font-family: "Cairo-Regular";
}

.sdg-container {
  .sdg_content {
    padding-top: 32px;
  }

  .sdg_Header {
    background-color: $color_6;
    box-shadow: outside 0px 1px 0px 0px $color_11;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;

      .part_1 {
        display: flex;

        .navbar_toggler {
          background: url("../content/images/navbar_toggler.svg") no-repeat
            0 -11px;
          width: 30px;
          height: 37px;
          cursor: pointer;
        }

        .logo {
          background: url("../content/images/logo.svg") no-repeat;
          width: 93px;
          height: 38px;
          margin: 0 32px;
        }
      }

      .part_2 {
        width: 60%;

        .search_container {
          border: 1px solid $color_8;
          border-radius: 8px;
          display: flex;
          height: 48px;
          padding: 3px 16px;
          justify-content: space-between;
          align-items: center;

          input {
            border: 0;
            font-size: 14px;
            color: $color_9;
            margin: 0 16px;
            width: 100%;
          }

          .search {
            background: url("../content/images/search_Icon.svg") no-repeat;
            height: 22px;
            width: 22px;
            background-size: contain;
            cursor: pointer;
          }
        }
      }
    }
  }

  .sdg_page {
    box-shadow: outside 0px 1px 0px 0px $color_11;
    background-color: $color_6;
    padding: 32px;
    border-radius: 16px;
  }

  .loginPage {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      pointer-events: none;
      background: #2d51a3 url("../content/images/login_bg.svg") center / cover
        no-repeat;
    }

    .loginContainer {
      width: 425px;
      border-radius: 24px;
      background: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      padding: 160px 50px 30px;

      @media screen and (max-width: 768px) {
        width: 80%;
      }

      &::before {
        content: "";
        position: absolute;
        margin-bottom: 28px;
        width: 166px;
        height: 68px;
        pointer-events: none;
        background: url("../content/images/logo.svg") center / contain no-repeat;
        top: 64px;
      }

      p {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #000;
        align-self: flex-start;
        margin-bottom: 24px;
      }

      .rememberAndForgetPassDiv {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;

        .forgetPassword {
          color: #2563eb;
          font-size: 13px;
          line-height: 14px;
          cursor: pointer;
          user-select: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .btnStyle {
        background-color: #2d51a3;
        color: #fff;
        line-height: 16px;
        cursor: pointer;
        border-radius: 6px;
        padding: 8px 40px 11px;
        align-self: flex-start;
        user-select: none;
        font: 16px/21px "Cairo-Regular";

        @media screen and (max-width: 768px) {
          width: 100%;
          text-align: center;
        }

        &:hover {
          background-color: #f7941d;
        }
      }
    }
  }

  label {
    align-self: flex-start;
    color: #52525b;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 7px;
    font-weight: 400;
  }

  .p-inputtext {
    width: 100%;
    border-radius: 8px;
    border-color: #d9d9d9;

    &::placeholder {
      color: #52525b;
      font-size: 13px;
      line-height: 14px;
    }
  }

  .GCInputComponent {
    margin-bottom: 24px;
  }
}

@import "./sdg_ar.scss";
